
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/


*.iml
*.ipr
*.iws
.idea/


**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/


app.*.symbols

app.*.map.json


/android/app/debug
/android/app/profile
/android/app/release
analysis_options.yaml
.metadata
pubspec.lock

lib/firebase_options.dart

/ios
/android
/windows
/linux
/macos
/web

android/


*.env
.firebaserc
firebase.json
firestore.indexes.json
firestore.rules
.firebase/

devtools_options.yaml

.env
y.iml